## Name : Fahim Ahmad
## Assignment(2) : Data Types and Structures
## Date : May, 14, 2025

#### 1. What are data structures, and why are they important ?

* Data structures in Python are ways to store and organize data so that it can be accessed and modified efficiently.
* Examples
* List 
Example: numbers = [1, 2, 3, 4]

* Tuple 
Example: coordinates = (10, 20)

* Set 
Example: unique_numbers = {1, 2, 3}

* Dictionary 
Example: person = {"name": "Fahim", "age": 24}
 * **IMPORTANCE**
* Data structures are essential for writing clean, efficient, and scalable Python code.

* Knowing which data structure to use can greatly affect your program’s performance and complexity.

#### 2 Explain the difference between mutable and immutable data types with examples

* **Mutable** objects can be changed after they are created
* These can be modified (elements can be changed, added, or removed)
* **Examples**
* List
* Set
* Dictionary
* **Immutable** objects cannot be changed after they are created. Any operation that seems to modify them actually creates a new object.
* These cannot be changed once created. If you try to modify them, Python will throw error
* **Examples**
* Tuple
* Integer

#### 3. What are the main differences between lists and tuples in Python ?


 - **Lists** are mutable as they are meant to be changed and manipulated over time.
- Syntax	[] – Square brackets
- Use lists when you need to change data (add, remove, or update).

- **Tuples** are immutable as they provide a lightweight, fixed collection that ensures data integrity and can be used in contexts that require immutability, like dictionary keys.
- Syntax() – Round brackets
- Use tuples when you want fixed, read-only data.

####  4. Describe how dictionaries store dataP

- A dictionary in Python stores data as **key-value pairs** using a highly efficient structure called a hash table.
- **Examples**
- person = {
    "name": "Fahim",
    "age": 24,
    "city": "Mumbai"
}

- "name", "age", and "city" are the **keys.**

- "Fahim", 24, and "Mumbai" are the **values**

#### 5. Why might you use a set instead of a list in Python ?

- A set and a list are both used to store collections of items, but sets have some key advantages in specific situations.

- **When to use set over List**
- You Need Unique Elements
- Sets automatically remove duplicates.
- Sets are faster than lists when checking if an item exists
- Sets support union, intersection, difference, etc.

#### 6. What is a string in Python, and how is it different from a list ?

- A string in Python is a sequence of characters enclosed in quotes.
- You can use single ' ', double " "
- **Example**
- Name = "Fahim"

- A string is immutable; a list is mutable.
- A string contains only characters; a list can contain any data types.
- Strings have string-specific methods (e.g., .upper(), .replace()); lists have list-specific methods (e.g., .append(), .pop()).
- String elements are always of type str; list elements can be of mixed type

#### 7.  How do tuples ensure data integrity in Python ?

- Tuples help ensure data integrity by being immutable, meaning their contents cannot be changed once created
- Once a tuple is defined, its elements cannot be added, removed, or altered.
- Tuples ensure data integrity in Python by being unchangeable, making them ideal for safe, consistent, and reliable data handling.

#### 8. What is a hash table, and how does it relate to dictionaries in Python ?

- A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index (hash value) into an array of buckets or slots, from which the desired value can be found.
- Key-Value Storage: Like a hash table, a dictionary stores data in key-value pairs.
- Just like a hash table, dictionaries provide fast access to values when given their key
- Python dictionaries are built on hash tables, allowing for efficient storage and retrieval of data using keys.

#### 9. Can lists contain different data types in Python ?

- Yes, lists in Python can contain different data types. A single list can store integers, strings, floats, booleans, and even other lists or objects of any type.
- **Example**
- List = [42, "Hello", 3.14, True, [1, 2, 3]]

#### 10.  Explain why strings are immutable in Python ?

- Strings are immutable in Python because:

- **Performance:** String interning and memory optimization.

- **Reliability:** Ensures consistency and avoids unexpected changes.

- **Hashability:** Strings can be used as dictionary keys or set elements.

- **Simplicity:** Makes string handling easier and less error-prone.

#### 11. What advantages do dictionaries offer over lists for certain tasks ?

- **Dictionaries** offer several advantages over lists in the following cases:

- Fast lookups and direct access using keys.

- Storing key-value pairs for associative data.

- No need for indexing; access via descriptive keys.

- Handling missing data easily with .get().

- Efficient deletion by key.

#### 12. Describe a scenario where using a tuple would be preferable over a list ?

- A tuple is preferable over a list when you have immutable data that should not be modified during the program’s execution.The immutability of tuples ensures data integrity and safety, preventing accidental changes.

- In a scenario where you need to store an employee's information and you want to ensure data integrity, a tuple can be a great choice. Let’s say you need to store an employee's ID, name, and department in a way that cannot be modified accidentally.

- **Why Use a Tuple**
- The employee ID is typically a unique identifier that should not change once assigned, so using a tuple guarantees its immutability.

- A tuple is perfect for storing fixed sets of related data like an employee’s ID, name, and department.
- Tuples are an ideal choice for storing immutable data like employee IDs, ensuring that the data remains unchanged.

#### 13. How do sets handle duplicate values in Python?

- **sets** are collections of unique items. They automatically remove duplicates and only store distinct elements. This means that if you try to add duplicate values to a set,Python checks if the item is already present. If it is, the item is not added again.

#### 14. How does the “in” keyword work differently for lists and dictionaries?

- In the **list** the **'*in*'** keyword checks whether a value exists in the list.
- In the list, in will return True if the value is one of the elements.

- In **Dictionaries** the **'*in*'** keyword checks whether a key exists in the dictionary — not the value.
- In the dictionary, in will return True only if the value matches a key, not a value.

#### 15.  Can you modify the elements of a tuple? Explain why or why not

- No, you cannot modify the elements of a tuple in Python because tuples are immutable.
- Immutability means that once a tuple is created, its contents (elements) cannot be changed, added to, or removed.
- This includes changing existing elements or appending new ones.

#### 16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary where one or more values are themselves dictionaries. This creates a hierarchical or multi-level structure, allowing you to represent more complex data.

In [1]:
#Example
students = {
    "Fahim": {
        "age": 24,
        "grade": "15th",
        "subjects": ["Math", "Science"]
    },
    "Ajay": {
        "age": 35,
        "grade": "18th",
        "subjects": ["Statistics", "ML"]
    }
}
students

{'Fahim': {'age': 24, 'grade': '15th', 'subjects': ['Math', 'Science']},
 'Ajay': {'age': 35, 'grade': '18th', 'subjects': ['Statistics', 'ML']}}

#### 17. Describe the time complexity of accessing elements in a dictionary

- Dictionaries use a hash table under the hood.

- When you access a value using a key, Python computes the key's hash, then directly retrieves the corresponding value.

- This makes dictionary lookups very fast, regardless of the size of the dictionary.

- Average Case	O(1)
- Worst Case O(n)

#### 18. In what situations are lists preferred over dictionaries

- **Order Matters:** When the sequence of elements is important.

- **No Meaningful Keys:** When you only need a collection of values, not key-value pairs.

- **Index-Based Access:** When accessing elements by position (index) is needed.

- **Simple Iteration:** When you just need to loop through the elements.

#### 19.  Why are dictionaries considered unordered, and how does that affect data retrieva

- **Dictionaries** are unordered because they are built on a hash table where elements are stored according to their hashed keys, not by the order of insertion.

- This makes retrieval by key very efficient (O(1) on average), but if you need to maintain or rely on the order of elements, dictionaries (even in Python 3.7+) may not be the best choice.

#### 20. Explain the difference between a list and a dictionary in terms of data retrieval

- The key difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed and the structure used for each.
- **List:** A list is an ordered collection of elements. It is accessed via indexing (i.e., based on position).
- You retrieve an element by its index in the list (e.g., my_list[2] retrieves the element at the 3rd position).
- **Dictionary:** A dictionary is an unordered collection of key-value pairs. It is accessed via keys (i.e., identifiers for the data).
- You retrieve a value by its key (e.g., my_dict["name"] retrieves the value associated with the "name" key).
- Unlike lists, dictionaries do not rely on indices or order but rather on unique keys.

# Practical Questions

#### 1. Write a code to create a string with your name and print it.

In [15]:
name  = "Fahim Ahmad"
print(name)

Fahim Ahmad

#### 2. Write a code to find the length of the string "Hello World".

In [16]:
a =  "Hello World"
print("Lenght:",len( a))

Lenght: 11


#### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [17]:
lang = "Python Programming"
lang[:3]

'Pyt'

#### 4. Write a code to convert the string "hello" to uppercase

In [18]:
a="hellow"
a.upper()

'HELLOW'


#### 5. Write a code to replace the word "apple" with "orange" in the string 

#### I like apple"

In [19]:
a= "I like apple"
a['apple']= "orange" # A string is an ranimmutable object, hence it will throw an error

TypeError: 'str' object does not support item assignment


#### 6.  Write a code to create a list with numbers 1 to 5 and print it.

In [20]:
lis = [1,2,3,4,5]
print(lis)
print(type(lis))

#or

print("\n")

a=[i for i in range(1,6)]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>


[1, 2, 3, 4, 5]
<class 'list'>

#### 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [21]:
list = [1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

#### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [22]:
list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

#### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [23]:
list = ['a', 'b', 'c', 'd']
list[1]

'b'

#### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

#or

list_1 = [10, 20, 32, 240, 50]
print(list_1[::-1])

[50, 40, 30, 20, 10]
[50, 240, 32, 20, 10]

#### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [25]:
Tuple = (100,200,300)
print(Tuple)
print(type(Tuple))

(100, 200, 300)
<class 'tuple'>

#### 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [26]:
a = ('red', 'green', 'blue', 'yellow')
a[-2]

'blue'

#### 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [27]:
a =(10, 20, 5, 15)
min(a)

5

#### 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [28]:
tuple= ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

#### 15. . Write a code to create a tuple containing three different fruits 
#### and check if "kiwi" is in it.

In [29]:
fruit= ["apple", "Mango", "orange"]
"kiwi" in fruit

False

#### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print i

In [30]:
Set = {'a', 'b', 'c'}
print(Set)
print(type(Set))

{'a', 'c', 'b'}
<class 'set'>

#### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [31]:
Set= {1, 2, 3, 4, 5,68}
Set.clear()
print(Set)

set()

 #### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [32]:
Set= {1, 2, 3, 4}

Set.remove(4)
print(Set)

{1, 2, 3}

#### 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [33]:
set_1 = {1, 2, 3} 
set_2 = {3, 4, 5}

union= set_1 | set_2
print("Union of 2 sets:", union)

Union of 2 sets: {1, 2, 3, 4, 5}

 #### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [34]:
set_1 = {1, 2, 3} 
set_2 = {2,3,4}

final_set = set_1 & set_2
print("Intersection of two sets:", final_set)

Intersection of two sets: {2, 3}

#### 21. Write a code to create a dictionary with the keys "name", "age", and 
#### "city", and print it

In [35]:
dic = { 
    
    'Name':"Fahim", 
    "Age":24,
    'City':"Mumbai"
}

dic

{'Name': 'Fahim', 'Age': 24, 'City': 'Mumbai'}

#### 22. Write a code to add a new key-value pair "country": "USA" to the
#### dictionary {'name': 'John', 'age': 25}

In [36]:
dic ={
    'name':'John', 'age':30
}
dic["Country"]="USA"
dic

{'name': 'John', 'age': 30, 'Country': 'USA'}

#### 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [37]:
dic ={
    'name':'Alice', 'age':30
}
print(dic)

dic['name']

{'name': 'Alice', 'age': 30}

'Alice'

#### 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob','age': 22, 'city': 'New York'}

In [38]:
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dic.pop('age')
    
dic

{'name': 'Bob', 'city': 'New York'}

#### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 

 #### 'city': 'Paris'}.

In [39]:
dic =  {
        'name': 'Alice',
        'city': 'Paris'
       }
print(dic)
'city' in dic

{'name': 'Alice', 'city': 'Paris'}

True

#### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:

my_list = [1, 2, 3, 4, 5]


my_tuple = ('apple', 'banana', 'cherry')


my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

#### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in 

#### ascending order, and print the result.(replaced)

In [41]:
random_num = [43,22,33,56,44]
random_num.sort()
random_num

[22, 33, 43, 44, 56]

#### 28. Write a code to create a list with strings and print the element at the third index.

In [42]:
my_list= ["Fahim", "Ahmad", "Mumbai", "Data Analyst", "Pwskills"]
my_list[3]
my_list[-2]

'Data Analyst'

#### 29. Write a code to combine two dictionaries into one and print the result

In [43]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}


product = {
    "id": 101,
    "name": "Laptop",
    "price": 778
}

print(person)
print(product)
combined_list = person | product
print(combined_list)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'id': 101, 'name': 'Laptop', 'price': 778}
{'name': 'Laptop', 'age': 30, 'city': 'New York', 'id': 101, 'price': 778}

#### 30. Write a code to convert a list of strings into a set.

In [13]:
intro = ["Fahim", "Ahmad", "Mumbai", "Data Analyst", "Pwskills"]
a=set(intro)
print(a)
print(type(a))

{'Pwskills', 'Data Analyst', 'Ahmad', 'Fahim', 'Mumbai'}
<class 'set'>